---
import MapPinIcon from "../components/icons/mapPinIcon.astro";
import DefaultLayout from "../layouts/defaultLayout.astro";
---

<DefaultLayout title="Lutz Pf | About">
  <div class="hero min-h-full">
    <div class="hero-content text-center">
      <div class="max-w-5xl">
        <h1 class="text-5xl font-bold p-12">About me</h1>
        <div class="grid grid-flow-col gap-5 text-center auto-cols-max w-full bg-clip-text text-transparent bg-gradient-to-r from-primary to-accent">
          <div class="flex flex-col">
            <span class="countdown font-mono text-5xl">
              <span class="counter years"></span>
            </span>
            years
          </div> 
          <div class="flex flex-col">
            <span class="countdown font-mono text-5xl">
              <span class="counter months"></span>
            </span>
            months
          </div> 
          <div class="flex flex-col">
            <span class="countdown font-mono text-5xl">
              <span class="counter days"></span>
            </span>
            days
          </div> 
          <div class="flex flex-col">
            <span class="countdown font-mono text-5xl">
              <span class="counter hours"></span>
            </span>
            hours
          </div> 
          <div class="flex flex-col">
            <span class="countdown font-mono text-5xl">
              <span class="counter minutes"></span>
            </span>
            min
          </div> 
          <div class="flex flex-col">
            <span class="countdown font-mono text-5xl">
              <span class="counter seconds"></span>
            </span>
            sec
          </div>
        </div>
        <p class="text-xl pb-8">until i completed my Abitur 🎓</p>
      </div>
    </div>
  </div>
</DefaultLayout>

<script>

const hardcodedDate = new Date('2025-07-05T00:00:00');

function calculateTimeDifference() {
  const now = new Date();
  const timeDifference = hardcodedDate.getTime() - now.getTime();

  const years = Math.floor(timeDifference / (365.25 * 24 * 60 * 60 * 1000));
  const months = Math.floor((timeDifference % (365.25 * 24 * 60 * 60 * 1000)) / (30.44 * 24 * 60 * 60 * 1000));
  const days = Math.floor((timeDifference % (30.44 * 24 * 60 * 60 * 1000)) / (24 * 60 * 60 * 1000));
  const hours = Math.floor((timeDifference % (24 * 60 * 60 * 1000)) / (60 * 60 * 1000));
  const minutes = Math.floor((timeDifference % (60 * 60 * 1000)) / (60 * 1000));
  const seconds = Math.floor((timeDifference % (60 * 1000)) / 1000);


  const yearsElement = document.querySelector('.counter.years');
  const monthsElement = document.querySelector('.counter.months');
  const daysElement = document.querySelector('.counter.days');
  const hoursElement = document.querySelector('.counter.hours');
  const minutesElement = document.querySelector('.counter.minutes');
  const secondsElement = document.querySelector('.counter.seconds');
  
  yearsElement?.setAttribute("style", `--value:${years};`)
  monthsElement?.setAttribute("style", `--value:${months};`)
  daysElement?.setAttribute("style", `--value:${days};`)
  hoursElement?.setAttribute("style", `--value:${hours};`)
  minutesElement?.setAttribute("style", `--value:${minutes};`)
  secondsElement?.setAttribute("style", `--value:${seconds};`)
}

calculateTimeDifference();

setInterval(calculateTimeDifference, 1000);


</script>
